  <div class="cookie_wrapper">
    <img src="{{ site.baseurl }}/assets/images/cookie.png" alt="">
    <div class="cookie_content">
      <header>Comme beaucoup, notre site utilise les cookies</header>
      <p>On aimerait vous accompagner pendant votre visite.
En poursuivant, vous acceptez l'utilisation des cookies par ce site, afin de vous proposer des contenus adaptés et réaliser des statistiques !</p>
      <div class="cookie_buttons">
        <button class="item">Ok pour moi!</button>
        <a href="#" class="cookie_item">Lire davantage</a>
      </div>
    </div>
  </div>

